.btn {
    display: flex;
    margin: auto;
    @include card-shadow;
    &--round {
        @include rounded;
    }
    &--radius {
        @include radius;
    }
    &--pinkpurple {
        justify-content: center;
        background: linear-gradient(to bottom right, $secondary_color, $primary-color);
        p {
        color: $white-color;
        font-size: 16px
        }
    }
}