/* partie header */

header {
    box-shadow: none;
    i {
    margin-left: 20px;
    font-size: 20px;
    }
}

/* modif card */

.card {
    height: 400px;
    flex-direction: column;  
    img {
        height: 100%;
        object-position: 50% 100%;
    }
    &__description {
        border-radius: 25px 25px 0 0;
        margin-top: -90px;
        height: 100px;
        @include grey-back-color;
    }
    h1 {
        font-family: "shrikhand", 'sans-serif';
        font-size: 25px;
    }
}

/* bloc main */
main {
    @include grey-back-color;
    padding-bottom: 25px;
}


 /* bloc menu */
.menu {
    display: flex;
    flex-direction: column;
    @include container-padding;
    h2 {
        text-transform: uppercase;
        font-size: 20px;
        color: rgb(186, 186, 186);
    }
    &__bar {
        background: $tertiary-color;
        height: 3px;
        width: 60px;
        margin: -10px 0 20px 0;
    }
    
}

.btn {
    height: $H-btn;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    align-items: center;
    overflow: hidden;

    &__text {
        display: flex;
        flex-direction: column;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        h3 {
            margin-bottom: 0;
            font-size: 1em;
            @include ellipsis;
        }
        p {
            margin-top: 0;
            font-size: 0.9em;
            @include ellipsis;
        }
    }
    &__price {
        padding: 25px;
    }
    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $tertiary-color;
        color: white;
        font-size: 1.3em;
        padding: 0 25px;
        height: $H-btn;
        margin-right: -90px;
    }
}

.btn--pinkpurple{
    width: 200px;
    margin: 10px auto;
    justify-content: center;
    height: auto;
}