@media only screen and (min-width: 992px) {

body{
    max-width: 1440px;
}

.home {
    height: 270px;
    box-shadow: 5px 10px 15px lightgrey;
}

.navigation {
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    margin-top: 5px;
    h2 {
        flex-basis: 100%;
    }
    .btn {
        flex-basis: 30%;
    }
}

#restaurant {
    justify-content: space-around;
    .card {
        flex-basis: 40%;
        height: 300px;
    }
}

body {
    max-width: 1440px;
}
}