@media only screen and (min-width: 768px) {

    
    header {
        margin-bottom: 0px;
        border-bottom: 5px ridge rgb(114, 114, 118);
    }

    .location {
        position: absolute;
        height: auto;
        left: 10px;
        width: 200px;
        background: transparent;
        .fa-location-dot {
            @include card-shadow;
            background: $tertiary-color;
            height: 2em;
            padding: 10px;
            border-radius: 10px 0 0 10px;
        }
        input {
            @include card-shadow;
            background: white;
            height: 2em;
            border-radius: 0 10px 10px 0;
        }
        i {
            transform: scale(1.05);
        }
    }

    .home {
        @include back-home;
        height: 300px;
        color: black;
        display: flex;
        flex-direction: row;
        p {
            color: white;
        }
        &__items {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }
        h1 {
            flex-basis: 50%;
        }
        p {
            flex-basis: 50%;
        }
    }



    #restaurant {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h2 {
            flex-basis: 100%;
        }
        .card {
            flex-basis: 45%;
        }
    }

    .btn--pinkpurple:hover {
        @include zoom-anim;
    }

    .footer {
        justify-content: center;
        &__container {
            width: 25%;
            margin: auto;
            align-items: center;
        }
    }
}