/* animation .btn  "check-icon"   --  menu */

.btn {
    &:hover > &__check {
        transition: margin-right 1000ms ease;
        margin-right: -10px;
        i {
            transition: transform 700ms ease-out 200ms;
            transform: rotate(360deg);
        }
    }
}


/* animation des repas */


.slide0ms {
    animation: slide 1000ms ease-out;
}

.slide200ms {
    animation: slide 1000ms ease-out 200ms;
}

.slide400ms {
    animation: slide 1000ms ease-out 400ms;
}

.slide600ms {
    animation: slide 1000ms ease-out 600ms;
}



@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(100px) ;
    }

    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}