@mixin card-shadow {
    box-shadow: 5px 5px 10px $color-shadow;
}

@mixin grey-back-color {
    background: $lightgrey-color;
}

@mixin rounded {
    border-radius: 100px;
}

@mixin radius {
    border-radius: 20px;
}

@mixin container-padding($size: $size-row) {
    padding: $size $size-col;
}

@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}


@mixin bloc-menu {
    margin: auto;
    width: 976px;
    box-shadow: 6px 6px 10px black;
}

@mixin back-home {
    background: rgb(147,86,220);
    background: linear-gradient(48deg, rgba(147,86,220,1) 9%, rgba(255,121,218,1) 40%, rgba(255,255,255,1) 61%);
}

@mixin zoom-anim {
    transform: scale(1.05);
    transition: transform 300ms ease;
}

@mixin btn-hover {
    background: linear-gradient(to bottom, lighten($secondary_color, 3), lighten($primary-color, 3));
    box-shadow: 5px 5px 10px darken($color-shadow, 10);
}