$primary-color: #9356DC;
$secondary_color: #FF79DA;
$tertiary-color: #99E2D0;

$clr-btn: linear-gradient(to bottom, $secondary_color, $primary-color);
$grey-color: #EAEAEA;
$lightgrey-color: #F6F6F6;
$white-color: #FFFFFF;

$color-footer: #353535;
$color-shadow: #CCCCCC;

$size-row: 10px;
$size-col: 30px;

